body{
    background: url('../images/bg.jpg') ;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-color: #181818;
    color: white;
}
.character, .combat-controls{
    min-height: 250px;
    border-bottom: .5rem solid #135472;
    border-top: .5rem solid #135472;
    border-radius: 20px;
    overflow: hidden;
    word-wrap: break-word;
}
.combat-controls{
    text-align: center;
}
.attack-button, .defend-button{
    width: 100%;
}
.character h3{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}
.character .hp-display{
    text-align: center;
    padding: .5rem;
    font-size: 2rem;
}

.game {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.img-fluid{
    max-height: 100%;
}
.row h2{
    width: 100%;
    text-align: center;
}

.hidden{
    display: none;
}